{% extends 'sales_manager/main.html' %}
{% block content %}
<div class="container">
<form action="{% url 'search-room' %}" method="get">
    <label for="start_date">start date</label><br>
    <input type="date" name="start_date" id="start_date" required><br>
    <label for="end_date">end date</label><br>
    <input type="date" name="end_date" id="end_date" required><br>
    <select name="kind">
        {% for kind in kinds %}
        <option>{{ kind.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="OK">
</form>

{% for type in types %}
    <h1>{{ type.title }}</h1>
    <h3>{{ type.avg_rate }}</h3>
    {% for i in '12345' %}
        <a href="{% url 'type-service-rate' type_id=type.id rate=i %}">
            {{ i }}
        </a>
    {% endfor %}
{% endfor %}
{% endblock %}
</div>