{% load static %}
<script src="{% static 'script.js' %}"></script>

<a href="{% url 'book-detail' book_id=book.id %}">
    {{ book.title }}
</a><br>
{{ book.text }}<br>
<i>{{ book.author.username }}</i><br>
{{ book.date_publish|date:"d-m-Y" }}<br>
    <i>Rate: {{ book.avg_rate }}</i>
    {% for i in '12345' %}
        <a href="{% url 'book-rate' book_id=book.id rate=i redirect_url=redirect_url%}">
            {{ i }}
        </a>
    {% endfor %}
<br>
{% if with_comment %}
    {% for comment in book.comments.all %}
        <p>{{ comment.text }}</p>
        <p>Date: {{ comment.date|date:"d-m-Y-H:i:s" }}</p>
        <p>Author: {{ comment.user.username }}</p>
            <p class="comment-like" id="comment_like_{{ comment.id }}">
                Likes: {{ comment.count_likes }}
            </p>
    {% endfor %}
{% endif %}
<br>